
.DS_Store
*.xcuserstate
RickAndMorty.xcodeproj/xcuserdata/canercagri.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
RickAndMorty/Assets.xcassets/AppIcon.appiconset/Contents.json
RickAndMorty.xcodeproj/project.pbxproj
RickAndMorty.xcodeproj/project.pbxproj
RickAndMorty.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
RickAndMorty.xcodeproj/project.pbxproj
*.pbxproj
